# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Folders
scripts/*
launchtemplate/*
launch-configuration-templates/*
virtenv

# Files
temp.json
.DS_Store
.gitignore
